.error-pane-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.error-title,
.error-message {
  display: block;
}

.error-title {
  font-size: 6rem;
}

.error-message {
  font-size: 3rem;
  margin: 2vw;
}

.go-back {
  border: 2px solid #ffd500;
}

.go-back:hover {
  text-decoration: none;
}
