#logo {
  width: 50vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-container {
  display: block;
  padding: 1rem 3rem 1rem 3rem;
}

.error-list {
  background-color: rgb(236, 93, 93);
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.create-button {
  margin-top: 50px;
  grid-column: 1 / 5;
}

.tab-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1rem 0 1rem;
}

.tab-label {
  text-align: center;
  transition: 0.3s ease;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.3rem solid #cac5c5;
  outline: none;
  cursor: pointer;
  padding: 1rem;
}

.tab-label:first-of-type {
  margin-left: 50px;
}

.tab-label:last-of-type {
  margin-right: 50px;
}

.tab-button:checked + .tab-label {
  border-bottom: 0.3rem solid #ffd500;
  padding: 1rem;
}

.tab-content {
  flex-direction: column;
  display: none;
  border: none;
  flex: 1 1;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  overflow: auto;
}

/* display: block causes the element to be visible, since the default value is none */
#create-lobby {
  display: block;
}

.join-lobby-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

.table-wrapper-wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex: 3;
  margin: 1rem;
  overflow: hidden;
}

.table-wrapper {
  flex: 1;
  border: 1px solid slategray;
  overflow-y: scroll;
}

#refresh-button {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

#lobby-table {
  width: 100%;
}

.lobby-details {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content minmax(
      min-content,
      4rem
    );
  column-gap: 2rem;
  row-gap: 1rem;
  flex: 2;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(226, 226, 226);
  overflow: auto;
}

.lobby-detail {
  font-weight: bold;
}

table {
  border: 0;
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  padding: 0 5px 0 5px;
}

th {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 0.2rem;
}

tr:nth-child(2n) {
  background-color: rgb(219, 219, 219);
}

tr:hover {
  background-color: rgb(248, 148, 164);
}

#join-button:disabled {
  cursor: not-allowed;
}

#join-button {
  grid-column: 1 / -1;
}

tr[selected="true"] {
  background-color: #6464de;
}

.switch2 {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ececec80;
  box-shadow: 0px 0px 0px 5px #ffffff;
  cursor: pointer;
  border-radius: 34px;
  transition: 0.4s;
}
.slider2::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + .slider2 {
  background-color: #ffd500;
}
input:checked + .slider2::before {
  transform: translatex(25px);
  background-color: #ffffff;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px),
  (orientation: portrait) or (max-aspect-ratio: 4/3) {
  #logo {
    width: 95vw;
  }
  .tab-header {
    margin: 0;
  }
  .tab-content {
    padding: 0;
    margin: 0;
  }
  .tab-label:first-of-type {
    margin-left: 10px;
  }

  .tab-label:last-of-type {
    margin-right: 10px;
  }

  .center-container {
    margin: 0;
  }
  .content-container {
    width: 96%;
    padding: 2%;
  }
  .create-button {
    margin-bottom: 50px;
    width: 100%;
  }

  .join-lobby-data {
    flex-direction: column;
  }
  .lobby-details {
    margin: 0.5rem;
    padding: 0.5rem;
    row-gap: 0.5rem;
  }
  .table-wrapper-wrapper {
    margin: 0.5rem;
  }
}
